$pb-color: #7C4DFF;

body {
  padding:0;
  margin:0;
  text-rendering: optimizeLegibility;
  line-height: 1.7;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:active, a.active {
  color: #7C4DFF;
}

code {
  padding: 4px;
  background-color: #eee;
}

.pb-docs {
  display: flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  &__navbar {
    overflow-y: scroll;
    max-height: calc(100vh - 62px);
    min-width: 300px;
    padding: 30px;
    margin-right: 30px;
    border-right: 1px solid #ddd;
    background-color: #FAFAFA;

    ul {
      list-style: none;

      li {
        padding-bottom: 2px;
      }
    }
  }

  &__content {
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    padding: 30px;

    pre.highlight > code {
      display: block;
    }

    a {
      color: #7C4DFF;
      text-decoration: none;
      opacity: 0.8;
    }

    a:hover, a:active, a.active {
      text-decoration: underline;
    }
  }

  .tipue_search_wrapper {
    display: flex;
    align-items: center;

    .tipue_search_icon {
      width: 40px;
      height: 40px;
    }

    .tipue_search_right {
      margin-bottom: 10px;
      margin-left: 8px;
    }

    .tipue_search_left {
      padding: 0;
    }
  }

  #tipue_search_content {
    .tipue_search_spinner {
      display: none !important;
    }
  }
}
