$pb-color: #7C4DFF;
$black: #434343;
$light-gray: #E8E8E8;
$med-gray: #9A9A9A;
$red: #FF0033;
$dark-red: #CC0033;

body {
  padding:0;
  margin:0;
  text-rendering: optimizeLegibility;
  line-height: 1.7;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:active, a.active {
  color: #7C4DFF;
}

code {
  padding: 4px;
  background-color: #eee;
}
