$pb-color: #7C4DFF;

body {
  padding:0;
  margin:0;
  text-rendering: optimizeLegibility;
  line-height: 1.7;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover, a:active, a.active {
  color: #7C4DFF;
}

code {
  padding: 4px;
  background-color: #eee;
}
