---
tipue_search_active: true
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Pandorabots Documentation</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    {% if page.tipue_search_active or layout.tipue_search_active %}
      <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
      <link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
      <script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
      <script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49503515-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49503515-7');
    </script>
  </head>
  <body>
    <div class="pb-docs">
        {{ content }}
    </div>

    <script type="text/javascript" src="{{ "/assets/js/search-result-highlighter.js" | relative_url }}"></script>
    <script>
      $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
          wholeWords: false
        });
        highlightSearchResult()
      });
    </script>
  </body>
</html>
