---
tipue_search_active: true
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Pandorabots Documentation</title>
    <link rel="stylesheet" href="/docs/assets/css/styles.css">
    {% if page.tipue_search_active or layout.tipue_search_active %}
      <link rel="stylesheet" href="{{ "/docs/assets/tipuesearch/css/normalize.css" | relative_url }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="{{ "/docs/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
      <link rel="stylesheet" href="{{ "/docs/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
      <script src="{{ "/docs/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
      <script src="{{ "/docs/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
    {% endif %}
  </head>
  <body>
    <div class="pb-docs">
        {{ content }}
    </div>

    <script>
      $(document).ready(function() {
        $('#tipue_search_input').tipuesearch();
      });
    </script>
  </body>
</html>
