.font-settings {
    display: none;
}
.fa-columns {
    display: none;
}
.gitbook-link {
    display: none;
}
.markdown-section a {
    color: #7c4dff;
}
.book-summary ul.summary li.active>a {
    color: #7c4dff;
    background: 0 0;
    text-decoration: none;
}
ul.summary li:nth-child(-n+2) {
    display: none;
}
ul.summary > li:nth-last-of-type(-n+2) {
    background: none;
}
    